<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Online Gift Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home1.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <div class="box">
      <ul>
        <li>
          <a class="active" href="../templates/home.html"
            ><i class="fas fa-stream"></i>Home</a
          >
        </li>
        <li>
          <a href="#news"><i class="far fa-question-circle"></i>About</a>
        </li>
        <li class="dropdown">
          <a href="#more" class="dropbtn"
            ><i class="fas fa-calendar-week"></i>More</a
          >
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li>
          <a href="#contact"><i class="far fa-envelope"></i>Contact</a>
        </li>
        <li>
          <a href="../templates/dashboard.html"
            ><i class="fas fa-qrcode"></i>Dashboard</a
          >
        </li>
        <li style="float: right">
          <a href="../templates/login.html"
            ><i class="fas fa-sign-in-alt"></i>Login</a
          >
        </li>
      </ul>
    </div>
    <div class="box1">
      <h1>"Treat yo'self" and "Gift yo'self"</h1>
      <p>***The best gift is a GIFT for no reason***</p>
    </div>
    <div class="box2">
      <p>"Love the giver more than the gift"</p>
    </div>
  </body>
</html>
