<!DOCTYPE html>
<html>
<head>
<title>login</title>
<link rel="stylesheet" href="../static/css/login1.css">
</head>
<body>
   
  <form action="home.html">
 <img src="../static/images/login.png" width="150px" height="150px">	
 <div class="box2">User Login</div><br>
 <label for="uname"><b>Username*</b></label>
 <div class="box3"><input type="text" placeholder="Enter Username" name="uname"></div>
 <label for="psw"><b>Password*</b></label>
 <div class="box4"><input type="password" placeholder="Enter Password" name="psw"></div>
 <div class="box5">       
    <div class="b1"><button style="padding:10px 15px"><a href="../templates/home.html">Login</a></button></div>
 </div>
 <div class="box6">
    <div class="b2"><input type="checkbox" name="remember">Remember me</div>
    <div class="b3"><span>Forgot Password?<a href="#">Click Here...</a></span></div>
    <div class="b3">Don't have an account?</div>
    <div class="b3"><span><button style="padding:10px 15px" type="signin"><a href="../templates/signin.html">Signin</a></button></span></div>
 </div>
 </form>
</body>
</html>