<!DOCTYPE html>
<html>
<head>
<title>signin</title>
<link rel="stylesheet" href="../static/css/signin1.css">
</head>
<body>
   <form action="index.html">	
   <img src="../static/images/signin.png" width="150px" height="150px">
<div class="box2">Register Here</div><br>
 <label for="mail"><b>Email Address*</b></label>
 <div class="box1"><input type="text" placeholder="Enter MailID" name="mail"></div>
 <label for="uname"><b>Username*</b></label>
 <div class="box3"><input type="text" placeholder="Enter Username" name="uname"></div>
 <label for="psw"><b>Password*</b></label>
 <div class="box4"><input type="password" placeholder="Enter Password" name="psw"></div>
 <div class="box5">       
    <div class="b1"><button type="submit" style="padding:10px 15px;"><a href="../templates/login.html">Create an Account</a></button></div>
 </div>
 <div class="box6">
    <div class="b2"><input type="checkbox" name="remember">Remember me</div>
    <div class="b3">Already created an account? Move to</div>
    <div class="b3"><span><button style="padding:10px 15px" type="login"><a href="../templates/login.html">Login</a></button></span></div>
 </div>
 </form>
</body>
</html>